@import "../../styles/variables.scss";
.top-box {
  h1 {
    margin-bottom: 30px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user-details {
        display: flex;
        align-items: center;
        gap: 10px;

        .user-credentials {
          display: flex;
          flex-direction: column;
          gap: 5px;

          span:first-child {
            font-weight: 400;
            font-size: 14px;
          }

          span:last-child {
            font-size: 12px;
            color: $soft-color;
          }
        }
        .user-img {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .amount {
        font-weight: 500;
      }
    }
  }
}
