@import "../../styles/variables.scss";

.menu-item {
  margin-bottom: 15px;
  .menu-item-title {
    font-size: 10px;
    font-weight: 600;
    color: $soft-color;
    text-transform: uppercase;
  }

  .list-items {
    margin-top: 10px;
  }

  //each item eg icon Home
  .list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: $soft-bg;
    }
  }
}
